@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.shop-wrapper {
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
}

.d-flex {
    border: 2px solid black;
    border-radius: 5px;
}


.shop-wrapper-title {
    text-align: center;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#root > div > div:nth-child(3) > div {
    border: none;
}

.shop-wrapper {
    margin-top: 10px;
}

.shop-wrapper-title-updated {
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#root > div > div.d-flex.justify-content-center.align-items-end.row {
    border: none;
    margin-bottom: 10px;
}

.badge-status {
    width: 100px;
    height: 22px;
}

.comments {
    margin-top: 10px;

}

.comments textarea {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.comments-view {
    margin-top: 20px;
}

.comments-view-comment {
    display: flex;
    flex-direction: column;
    color: black;
    width: 40%;
    border: 2px solid black;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    background-color: #f6f8fa;
    margin-top: 0;
}

.comments-edit {
    cursor: pointer;
    margin-left: 20px;
    color: blue;
    font-size: 15px;
    pointer-events: all;
}

.comments-delete {
    cursor: pointer;
    margin-left: 20px;
    color: red;
    font-size: 15px;
    pointer-events: all;
}

.register {
    padding: 10px 300px;
    height: 700px;
    background-image: url(
    "http://alfa.kachi-snimka.info/images-2021/bfi1677689901o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    margin-top: 60px;
}

.register .register-form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: center;
}

.register .register-form input {
    border-radius: 20px;
    padding: 5px;
    width: 400px;
    background: none;
    border: 1px solid white;
}

.register .register-form input::placeholder {
    color: white;
    padding-left: 10px;
}

.register .register-form input, select, textarea {
    color: white;
    padding-left: 10px;
}

.register .register-form button {
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 20px;
    width: 150px;
    background: none;
    color: white;
}

#validate-username {
    margin-top: 10px;
    color: red;
    background-color: black;
    border-radius: 10px;
    padding: 3px 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf3eb;
    padding: 10px 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav .nav-home a {
    text-decoration: none;
    padding: 10px 90px;
    color: #ef7d00;
}

.main-title {
    text-align: center;
    color: #ef7d00;
}

.nav-button {
    margin: 0 20px;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    border: 2px solid #ef7d00;
    background: none;
}

.nav .nav-home a {
    text-decoration: none;
    padding: 10px 90px;
    color: #ef7d00;
}

.products .products-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-form input {
    border-radius: 20px;
    width: 400px;
    border: 2px solid white;
    margin: 5px;
    background: none;
}

.products-form button {
    border-radius: 20px;
    margin-top: 5px;
    width: 200px;
    background: none;
}

.products {
    height: 600px;
    background-image: url(
    "https://i.imgupx.com/zPzpldZI/333679583_1370979030385235_8353098425062243540_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}

.products-form input::placeholder {
    color: white;
    padding-left: 10px;
}


.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.products-container-items {
    text-align: center;
    margin-top: 10px;
    border: 2px solid #ef7d00;
    border-radius: 20px;

}

.products-container-item{
    font-size: 17px;
    color: #ef7d00;
    font-style: italic;
    margin: 10px 0;
}

.products-container-items .product-img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.products-container-item-title {
    margin-top: 20px;
}

.products-container-item-button {
    margin: 10px;
    padding: 5px;
}

#root > main > section > article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container-item-button button {
    padding: 7px;
    width: 150px;
    border: none;
    background-color: aqua;
    border-radius: 20px;
}

.products-container-createButton {
    padding: 7px;
    width: 180px;
    border: none;
    background-color: aqua;
    border-radius: 20px;
}

#root > main > section > article > div:nth-child(11) > button {

    margin-top: 10px;
    padding: 7px;
    width: 150px;
    border: none;
    background-color: aqua;
    border-radius: 20px;
}

#root > main > section > article > div:nth-child(12) > button {
    margin-top: 10px;
    padding: 7px;
    width: 150px;
    border: none;
    background-color: aqua;
    border-radius: 20px;
}

#root > div > div.comments > textarea {
    color: black;
}

.getAllPrice {
    display: none;
}

.admin-bord-section {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.unconfirmed-orders {
    width: 50%;
    background-color: red;
}

.confirmed-orders {
    width: 50%;
    background-color: blue;
}

.orderKey {
    display: none;
}

.home-page-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.home-page-most-ordered-title {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
}

.home-page-most-ordered-description {
    text-align: center;
    margin: 20px 0;
    color: #cdc1c1;
}

.home-page-container-item-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}


.product-details-title {
    font-size: 50px;
    text-align: end;
}

.product-details-selected-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    font-style: italic;
    color: #ef7d00;
}

.product-details-selected-product-img {
    text-align: end;
    width: 300px;
    height: 300px;
}

.product-details-selected-product-button {
    margin-top: 10px;
    padding: 7px;
    width: 150px;
    border: none;
    background-color: #ef7d00;
    border-radius: 20px;
}

.close {
    color: black;
    text-decoration: none;
    align-self: end;
    margin-right: 10px;
}

.container-img {
    position: relative;
}

.home-page-container-item {
    color: #ef7d00;
    font-style: italic;
}

.home-page-container-item-img {
    display: block;
}

.home-page-container-item-current-icon {
    position: absolute;
    bottom: 90px;
    left: 90px;
    color: white;
}

.home-page-container {
    border: 2px solid #ef7d00;
    padding: 20px 0;
    margin: 0 10px;
    border-radius: 10px;
}

.home-page-first {

    display: flex;
    align-items: center;
    justify-content: start;
    height: 500px;
    margin: 70px 0 20px 0;
    background-color: #e592b9;
    cursor: pointer;
}

.home-page-first-left {
    width: 50%;
    height: 500px;
    align-items: start;
}

.home-page-first-left-picture {
    width: auto;
    height: 500px;
}

.home-page-first-right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home-page-first-right h6 {
    color: white;
}

.home-page-first-right p {
    color: white;
    padding: 0;
    margin: 0;
}

.not-login-user {
    text-align: center;
}

footer {
    background-color: black;
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 30px 30px 0;
}

.footer-first, .footer-second, .footer-third, .footer-four {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-first-title {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    font-size: 20px;

}

.footer-first-item {
    text-decoration: none;
    color: #b8b5ad;
    padding-bottom: 10px;
}

.footer-four {
    align-items: start;
    margin-top: -65px;
}

.footer-line {
    color: white;
    width: 1200px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-author {
    text-align: center;
    color: white;
}

.shop-edit-admin-container {
    margin-top: 70px;
}

.shop-edit-admin-container-items {
    text-align: center;
}

.shop-edit-admin-container-item h6 {
    margin-top: 10px;
}

.shop-edit-admin-container-item-buttons {
    margin-top: 10px;
}


.comments-admin-input {
    width: 80%;
    margin-top: 30px;
    margin-left: 100px;
    border-bottom: 3px solid black;
    border-radius: 20px;
    height: 100px;
}

.admin-comments-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b8b5ad;
    margin: 20px 200px;
    border-bottom: 2px solid white;
    border-radius: 20px;
}

.user-comments-container {
    display: flex;
    flex-direction: column;
}

.comments-textarea {
    color: black;
}

.shop-art {
    display: flex;
    justify-content: center;
}

.shop-art-first-picture {
    display: flex;
    text-align: center;
}

.shop-art-main-title {
    margin-top: 70px;
    color: #ef7d00;
    font-style: oblique;
}

.shop-art-first-picture-row-one-one {
    margin: 20px 20px;
    border-bottom: 3px solid #ef7d00;
    border-radius: 20px;
}

.shop-art-first-picture-row-one-one img {
    height: 250px;
    width: 350px;
    border-radius: 20px;
}

.shop-art-first-paragraph {
    padding-top: 5px;
    font-size: 20px;
    font-style: italic;
}

.shop-art-first-paragraph a {
    text-decoration: none;
    color: #ef7d00;
}

.shops-view-container-comment-title {
    font-style: italic;
    color: #ef7d00;
    text-align: center;
}

.shop-art-main-town {
    text-align: center;
    color: #ef7d00;
    font-style: italic;
}

.shops-view-button {
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: #ef7d00;
    font-style: italic;
    background-color: aqua;
    border-bottom: 2px solid #ef7d00;
}

.comments {
    align-items: center;
    margin: 30px 30px 0 30px;
}

.comments-view-comment {
    border-color: #ef7d00;
    width: auto;
    background-color: white;
    margin-bottom: 10px;
}

.comments-textarea {
    border-bottom: 2px solid #ef7d00;
}
.user-comments-container-button {
    margin-left: 530px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: #ef7d00;
    font-style: italic;
    background-color: aqua;
    border-bottom: 2px solid #ef7d00;
}

.admin-users-table {
    border-collapse: collapse;
    width: 100%;
}

.admin-users-container-title {
    text-align: center;
    margin: 30px 0;
}

.admin-users-table th, .admin-users-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-users-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-users-table tr:hover {
    background-color: #ddd;
}

.admin-users-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.admin-users-table-buttons {
    display: flex;
    flex-direction: column;
}

.admin-users-table-buttons .delete-button {
    margin-bottom: 10px;
}

.user-edit-profile {
    width: auto;
    height: 600px;
    background-image: url("https://i.imgupx.com/VoOSBgnl/343389914_610690820707442_5178648780943661264_n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user-edit-profile-container {
    margin-top: 65px;
}

.user-edit-profile-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-edit-profile-item h6 {
    color: white;
    margin: 10px 0;
}

.user-edit-profile-item input {
    color: white;
    border-radius: 10px;
    margin: 5px 0;
    background: black;
    border-color: white;
}

.user-edit-profile-button button {
    border-radius: 10px;
    border-color: white;
    background: none;
    color: white;
    width: 150px;
    margin-top: 20px;
}

.user-profile {
    width: auto;
    height: 600px;
    background-image: url("https://i.ibb.co/tCYKtJ3/334337114-1108668526920391-6375149307777776532-n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.user-profile-title {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.user-profile-container-items {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.user-profile-container-items button {
    border-radius: 10px;
    border-color: white;
    background: none;
    color: white;
    width: 150px;
    margin-top: 20px;
}

.orders-user-title {
    text-align: center;
    font-style: italic;
    color: #ef7d00;
    margin: 10px 0;
}

.orders-user-line {
    color: #ef7d00;
    border-bottom: 2px solid #ef7d00;
}

.orders-container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-container-items-name {
    font-size: 20px;
    font-style: italic;
    color: #ef7d00;
    margin: 10px 0;
}

.orders-container-items-button {
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: #ef7d00;
    font-style: italic;
    background-color: aqua;
    border-bottom: 2px solid #ef7d00;
}

.orders-container-items-button-confirm {
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: white;
    font-style: italic;
    background-color: red;
    border-bottom: 2px solid #ef7d00;
}

.orders-user-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-user-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-user-tracker-title {
    font-style: italic;
    color: #ef7d00;
    margin: 10px 0;
}

.order-user-tracker-button {
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: #ef7d00;
    font-style: italic;
    background-color: aqua;
    border-bottom: 2px solid #ef7d00;
}

.orders-admin-button {
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    color: #ef7d00;
    font-style: italic;
    background-color: aqua;
    border-bottom: 2px solid #ef7d00;
}

.unconfirmed-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-admin-line {
    color: #ef7d00;
    border-bottom: 2px solid black;
}

.tracking-main-section {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.tracking-in-processing-order {
    margin: 10px 0;
    border: #ef7d00;
    border-bottom: 2px solid #ef7d00;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    font-style: italic;
    color: #ef7d00;
}

.tracking-in-send-order {
    margin: 10px 0;
    border: #ef7d00;
    border-bottom: 2px solid #ef7d00;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    font-style: italic;
    color: #ef7d00;
}

.author-container {
    margin: 80px 0 20px 0;
}

.author-container-items {
    display: flex;
    margin: 10px 0;

}

.author-container-img {
    width: 40%;
    align-self: center;
    background-color: black;
    border-radius: 20px;
    margin-left: 10px;
}

.author-container-img img {
    border-radius: 50%;
    padding-left: 45px;
}

.author-container-text {
    padding-left: 20px;
    font-style: italic;
}

.order-admin-input {
    display: flex;
    flex-direction: column;
}

.products-container-item-likes {
    text-align: start;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #ef7d00;
}

.products-container-item-likes-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.products-container-item-likes-icon {
    margin-right: 10px;
    font-size:  17px;
}

.products-container-item-likes-button {
    margin-left: 7px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #ef7d00;
    border: none;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-bottom: 15px;
    font-style: italic;
}

.products-container-item-likes-container-button2 {
    margin-left: 62px;
    padding: 7px;
    width: 150px;
    border: none;
    background-color: aqua;
    border-radius: 20px;
    font-style: italic;
}

#login-users > div:nth-child(1) {
    margin-top: 60px;
}

.login {
    width: auto;
    height: 550px;
    background-image: url("https://i.ibb.co/3FrvFXV/333760483-756983502342639-5123621158379031269-n.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

#login-users > div:nth-child(1) > div {
    margin-top: 70px;
    color: white;
}

#login-users > div:nth-child(2) > div {
    color: white;
}

#root > div {
    position: absolute;
    left: 570px;
    top: 220px;
}