.shop-wrapper {
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
}

.d-flex {
    border: 2px solid black;
    border-radius: 5px;
}

.shop-wrapper-title {
    text-align: center;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#root > div > div:nth-child(3) > div {
    border: none;
}

.shop-wrapper {
    margin-top: 10px;
}

.shop-wrapper-title-updated {
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#root > div > div.d-flex.justify-content-center.align-items-end.row {
    border: none;
    margin-bottom: 10px;
}

.badge-status {
    width: 100px;
    height: 22px;
}

.comments{
    margin-top: 10px;

}

.comments textarea {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.comments-view {
    margin-top: 20px;
}

.comments-view-comment {
    display: flex;
    flex-direction: column;
    color: black;
    width: 40%;
    border: 2px solid black;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    background-color: #f6f8fa;
    margin-top: 0;
}

.comments-edit {
    cursor: pointer;
    margin-left: 20px;
    color: blue;
    font-size: 15px;
    pointer-events: all;
}

.comments-delete {
    cursor: pointer;
    margin-left: 20px;
    color: red;
    font-size: 15px;
    pointer-events: all;
}
.register {
    padding: 10px 300px;
    height: 700px;
    background-image:
            url(
            "http://alfa.kachi-snimka.info/images-2021/bfi1677689901o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;

}
.register .register-form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-self: center;
}

.register .register-form  input {
    border-radius: 20px;
    padding: 5px;
    width: 400px;
    background: none;
    border: 1px solid white;
}

.register .register-form  input::placeholder {
    color: white;
    padding-left: 10px;
}

.register .register-form  input, select, textarea {
    color: white;
    padding-left: 10px;
}

.register .register-form  button {
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 20px;
    width: 150px;
    background: none;
    color: white;
}

#validate-username {
    margin-top: 10px;
    color: red;
    background-color: black;
    border-radius: 10px;
    padding: 3px 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faf3eb;
    padding: 10px 90px;
}

.nav .nav-home a{
    text-decoration: none;
    padding: 10px 90px;
    color: #ef7d00;
}

.main-title {
    text-align: center;
    color: #ef7d00;
}

.nav-button {
    margin: 0 20px;
    padding: 5px;
    width: 120px;
    border-radius: 20px;
    border: 2px solid #ef7d00;
    background: none;
}

.nav .nav-home a {
    text-decoration: none;
    padding: 10px 90px;
    color: #ef7d00;
}