.shop-wrapper {
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
}

.d-flex {
    border: 2px solid black;
    border-radius: 5px;
}

.shop-wrapper-title {
    text-align: center;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#root > div > div:nth-child(3) > div {
    border: none;
}

.shop-wrapper {
    margin-top: 10px;
}

.shop-wrapper-title-updated {
    text-align: center;
    background-color: blue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#root > div > div.d-flex.justify-content-center.align-items-end.row {
    border: none;
    margin-bottom: 10px;
}

.badge-status {
    width: 100px;
    height: 22px;
}

.comments{
    margin-top: 10px;

}

.comments textarea {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.comments-view {
    margin-top: 20px;
}

.comments-view-comment {
    display: flex;
    flex-direction: column;
    color: black;
    width: 40%;
    border: 2px solid black;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    background-color: #f6f8fa;
    margin-top: 0;
}

.comments-edit {
    cursor: pointer;
    margin-left: 20px;
    color: blue;
    font-size: 15px;
    pointer-events: all;
}

.comments-delete {
    cursor: pointer;
    margin-left: 20px;
    color: red;
    font-size: 15px;
    pointer-events: all;
}
.register {
    padding: 10px 300px;
}
.register .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.register .register-form  input {
    background-color: #f6f8fa;
}

.register .register-form  button {
    margin-top: 10px;
}