@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
body {
  font-family: Poppins, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
